.homen {
  position: absolute;
  top: 140px;
  left: 24%;
  width: auto;
  height: auto;
}
.Filteredout {
  width: 300px;
  position: absolute;
  top: 150px;
  left: 3%;
  color: #5e768d;
  font-weight: bold;
  font-size: 150%;
  display: grid;
  grid-template-columns: 90% 10%;
}

.ordenado {
  width: 90%;
  display: grid;
  grid-template-columns: 70% 7% 10% 7% 9%;
  position: absolute;
  top: 180px;
}

.DeaZ2 {
  color: #5e768d;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  border: none;
  outline: none;
  border-style: none;
  border: 1px solid #c7c7c7cc;
  border-top: 0px solid #858585cc;
  border-left: 0px solid #858585cc;
  border-right: 0px solid #858585cc;
}

#inorder {
  text-align: right;
  cursor: pointer;
}
#linpFilter {
  font-size: 70%;
  color: #5e768d7c;
  cursor: pointer;
}
