.main {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.content {
  letter-spacing: 10px;
  word-spacing: 5px;
}
.content h1 {
  margin: 20px;
  height: 200px;
  font-size: 75px;
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px rgb(39, 37, 37);

  font-weight: bolder;
}
.content button {
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: rgb(243, 243, 243);
  font-size: 24px;
  width: 170px;

  border: 3.5px solid rgba(234, 231, 231, 0.685);
  padding: 20px;
  border-radius: 35px;
}
.content button:hover {
  background-color: rgba(248, 248, 250, 0.124);
  cursor: pointer;
  transform: translate(3px, 3px);
  /* transform: scale(1.1); */
}

.titulo {
  padding: 150px;
  font-size: 50px;
  text-shadow: 7px 4px 5px #075d5d;
  color: #f0f3f4;
  font-weight: bolder;
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  object-fit: cover;

  height: 100%;
  margin: 0px;
  object-fit: cover;
  padding: 0px;
}
.marketing {
  display: flex;
  justify-content: space-around;
  background-color: #f3f7f7;
}
.phrase {
  margin: 100px;
}
.phrase h2 {
  font-size: 60px;
  width: 330px;
  color: rgb(5, 36, 97);
  font-weight: 900;
}
.phrase p {
  color: rgb(5, 36, 97);
  font-size: larger;
  font-weight: light;
}
.roll {
  margin: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 800px;
  border-radius: 10px;
}
.roll h3 {
  text-shadow: 3px 3px rgb(36, 34, 34);
  font-size: 50px;
  font-weight: 100;
  color: #eaeeee;
}
.process {
  display: flex;
  justify-content: space-around;
  background-color: #2a2c2c;
}
.process-card {
  gap: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 90px;
}
.process img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 10px;
}
.process img:hover {
  transform: scale(1.1);
}
.col-card {
  justify-content: center;
  align-content: center;
  align-items: start;

  background: #445451;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid #f2f4f3;
  box-shadow: 0 4px 5px rgb(253, 254, 255);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
}
.col-card h2 {
  font-size: 30px;
  font-weight: 100;
}
.col-card p {
  font-size: small;
  font-weight: 100;
  color: #c2d4dd;
}
.how-text {
  margin: 50px;
  margin-top: 90px;
  width: 330px;
}
.how-text h2 {
  font-size: 60px;
  color: rgb(17, 75, 190);
  font-weight: 900;
}
.how-text p {
  color: rgb(17, 75, 190);
  font-size: large;
  font-weight: light;
}
.team-profile {
  display: flex;
  justify-content: space-around;
  background-color: #090909;
}
.team-text {
  margin: 150px;
}
.team-text h2 {
  font-size: 60px;
  color: rgb(12, 112, 115);
  font-weight: 900;
}
.team-text p {
  color: rgb(12, 112, 115);
  font-size: large;
  font-weight: light;
}
.team-profile-cards {
  margin: 50px;
  display: flex;
  gap: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.team {
  width: 190px;
  height: 254px;
  border-radius: 10px;
  background: #878484;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.team-profile-cards {
  display: flex;
  justify-content: space-around;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/*Image*/
.card-avatar img {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
}

/*Card footer*/
.card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-social__item {
  list-style: none;
}

.card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515f65;
  cursor: pointer;
  transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card-title {
  color: #333;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 2rem;
}

.card-subtitle {
  color: #d8dde0;
  font-size: 0.8em;
}

/*Hover*/
.team:hover {
  box-shadow: 0 8px 50px #23232333;
}

.team:hover .card-info {
  transform: translateY(-5%);
}

.team:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}

.card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
}

.card-avatar:hover {
  transform: scale(1.1);
}
.scrollToTop {
  position: fixed;
  display: inline-block;
  background-color: black;
  border: 1px solid rgb(32, 32, 32);
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  bottom: 20px;
  right: 28px;
  z-index: 50;
  padding: 0.5rem;
}
